<!-- your html code here -->
<div container-fluid>
<form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label"><strong>Your E-mail</strong></label>
    <div class="col-sm-10">
      <input type="Your E-mail" class="form-control" id="inputEmail3" placeholder="Your email">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label"><strong>Your message</strong></label>
    <div class="col-sm-10">
      <input multiple class="form-control" type="text" id="inputPassword3" placeholder="Please enter your message here...">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
</div>

