<!-- your html code here -->
<div>
<p>Hello, I'm Camilla.html</p>
<form>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Your E-mail</label>
    <select class="form-control" id="exampleFormControlSelect1">
    Your email
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Your Message</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <p>Please enter your message here</p>
    </select>
  </div>
</form>
</div>