<!-- your html code here -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="heading d-flex justify-content-start"><strong>The First Heading</strong class="text-muted">Will Catch Your Eye</h2>
    <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
  </div>
  <img src="../index/img/1.jpg" class="d-flex justify-content-end"/>
</div>
