<!-- your html code here -->
<div class="container-fluid">
    <div class="row">
        <h2>Portfolio</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum risus a lectus volutpat tempor et ac nunc. Maecenas fringilla congue condimentum. Mauris tempor dolor.</p>
    </div>
        <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra ullamcorper lorem eget congue. Vivamus mattis turpis turpis, id porta arcu euismod in. Maecenas volutpat augue at odio scelerisque, eget cursus.</p>
            </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
            <img src="/website1/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra ullamcorper lorem eget congue. Vivamus mattis turpis turpis, id porta arcu euismod in. Maecenas volutpat augue at odio scelerisque, eget cursus.</p>
            </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra ullamcorper lorem eget congue. Vivamus mattis turpis turpis, id porta arcu euismod in. Maecenas volutpat augue at odio scelerisque, eget cursus.</p>
            </div>
            </div>
        </div>
</div>